<% if object.errors.any? %>
  <div class="alert alert-danger mb-5">
    <h4><%= pluralize(object.errors.count, "error") %> prohibited this user from being saved:</h4>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <hr class="mb-5">
<% end %>
