
  <%= render 'shared/errors', object: @answer %>
  <%= form_with model: [@question, @answer] do |f| %>
    <div class="form-group">
      <% if @answer.new_record? %>
        <p>Put your answer here: </p>
      <% end %>
      <div class="col-sm-10">
        <%= f.text_area :body, class: 'form-control form-control-lg mb-3 card-text', required: true %>
      </div>
    </div>
    <%= f.submit (@answer.new_record? ? "Create" : "Edit"), class: 'btn btn-primary' %>
  <% end %>
